<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.JkCompanyMapper">
    <resultMap type="com.pojo.JkCompany" id="companyResult">
        <id property="id" column="id"/>
        <result property="name" column="company_name"/>
        <result property="provinceId" column="province_id"/>
        <result property="provinceName" column="province_name"/>
    </resultMap>

    <sql id="Base_Column_List">
		id,company_name,province_id,province_name
	</sql>

    <insert id="insertJkCompanyList" parameterType="java.util.List">
        INSERT INTO jk_company
        (id,company_name,province_id,province_name)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id},#{item.name},#{item.provinceId},#{item.provinceName})
        </foreach>
    </insert>

    <insert id="insertJkCompany" parameterType="JkCompany">
        INSERT INTO jk_company
        (id,company_name,province_id,province_name)
        values
            (#{id},#{name},#{provinceId},#{provinceName})

    </insert>



</mapper>