<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.JkCommunityMapper">
    <resultMap type="com.pojo.JkCommunity" id="communityResult">
        <id property="esProjectId" column="id"/>
        <result property="esProjectName" column="project_name"/>
        <result property="provinceId" column="province_id"/>
        <result property="provinceName" column="province_name"/>
        <result property="cityId" column="city_id"/>
        <result property="cityName" column="city_name"/>
        <result property="districtId" column="district_id"/>
        <result property="districtName" column="district_name"/>
        <result property="companyId" column="company_id"/>
        <result property="companyName" column="company_name"/>
        <result property="houseTotal" column="house_total"/>
        <result property="houseNum" column="house_num"/>
    </resultMap>

    <sql id="Base_Column_List">
		id,project_name,province_id,province_name,city_id,city_name,district_id,district_name,company_id,company_name,house_total,house_num
	</sql>

    <insert id="insertJkCommunityList" parameterType="java.util.List">
        INSERT INTO jk_community
        (<include refid="Base_Column_List"></include>)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.esProjectId},#{item.esProjectName},#{item.provinceId},#{item.provinceName},
            #{item.cityId},#{item.cityName},#{item.districtId},#{item.districtName},
            #{item.companyId},#{item.companyName},#{item.houseTotal},#{item.houseNum})
        </foreach>
    </insert>

</mapper>